@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  @apply text-center;
}

.App-logo {
  @apply h-[40vmin] pointer-events-none;
}

.App-header {
  @apply flex flex-col items-center justify-center min-h-screen text-[calc(10px+2vmin)] bg-[#282c34] text-white;
}

.App-link {
  @apply text-[#61dafb];
}

button {
  @apply text-[calc(10px+2vmin)];
}
